<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>nos-engagements</title>
  <link href="http://fonts.googleapis.com/css?family=Lato:400,400,700,900,300|Roboto:400,900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/nos-engagements-grid.css">
  <link rel="stylesheet" href="css/nos-engagements.css">
</head>
<body class="body page-nos-engagements clearfix">
  <img class="image image-1" src="images/rogner.jpg">
  <button onClick="window.location='connection.html';" class="_button-1"></button>
  <div class="element element-1"></div>
  <div class="container container-1 clearfix">
    <div class="element clearfix">
      <div class="container clearfix">
        <button onClick="window.location='publicsspace.html';" class="_button-2">Accueil</button>
        <button onClick="window.location='services.html';" class="_button-3">Réservation</button>
        <button onClick="window.location='location.html';" class="_button-4">Location</button>
        <button onClick="window.location='contact.html';" class="_button-5">Contact</button>
      </div>
    </div>
    <img class="image image-2" src="images/Facebook_Home_logo_old.svg.png">
    <img class="image image-3" src="images/instagram_PNG3.png">
    <img class="image image-4" src="images/share-twitter.png">
  </div>
  <p class="text text-1">Vous garantir une solution opérationnelle pensée et construite avec le concours d’experts&nbsp;de la vie publique.</p>
  <p class="text text-2">NOS ENGAGEMENTS</p>
  <input class="_input-1" type="text">
  <button class="_button-6">RECHERCHE</button>
  <button onClick="window.location='nos-engagements.html';" class="_button-7">
    <p>Nos&nbsp;</p>
    <p>engagementS</p>
  </button>
  <button onClick="window.location='notredemarche.html';" class="_button-8">
    <p>NOTRE&nbsp;</p>
    <p>DEMARCHE</p>
  </button>
  <button onClick="window.location='respectdesmarches.html';" class="_button-9">
    <p>RESPECT DU&nbsp;</p>
    <p>MARCHE PUBLICS</p>
  </button>
  <button onClick="window.location='nousvousaccompagnons.html';" class="_button-10">
    <p>NOUS VOUS&nbsp;</p>
    <p>ACCOMPAGNONS</p>
  </button>
  <div class="element element-3"></div>
  <div class="element element-4"></div>
  <div class="element element-5"></div>
  <div class="text text-3">
    <p>Vous garantir une solution opérationnelle pensée et construite avec le concours d’experts de la vie publique.&nbsp;</p>
    <p>Faciliter la mutualisation du bien public, sans perte d’autonomie et sans perte de contrôle des collectivités&nbsp;</p>
    <p>Vous accompagner tout au long de votre parcours sur la plateforme grâce à une assistance personnalisée.</p>
</div>
  <p class="text text-4"></p>
  <img class="image image-5" src="images/Fond Footer.jpg">
  <img class="image image-6" src="images/LOGO-MY-PUBLIC--SPACE-.png">
  <p class="text text-5">My public space...</p>
  <p class="text text-6">A propos de nous...</p>
  <div class="text text-7">
    <p>Nous&nbsp;</p>
    <p>suivre...</p>
</div>
  <p class="text text-8">veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur anim id est laborum ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur anim id est laborumconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco&nbsp;</p>
  <p class="text text-9">veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur anim id est laborum ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur anim id est laborumconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco&nbsp;</p>
  <p class="text text-10">veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&nbsp;</p>
  <img class="image image-7" src="images/share-twitter.png">
  <img class="image image-8" src="images/instagram_PNG3.png">
  <img class="image image-9" src="images/Facebook_Home_logo_old.svg.png">
  <p class="text text-11">Restez informé 
sur nos actualités
inscrivez vous a notre newletter</p>
  <input class="_input-2" placeholder="ENTRER VOTRE MAIL" type="text">
  <button class="_button-11">S'INCRIRE</button>
  <p class="text text-12">Copyright&amp;Copy, 
VIPcrossing All Righs Reserved.</p>
</body>
</html>