<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>notredemarche</title>
  <link href="http://fonts.googleapis.com/css?family=Lato:400,400,900,700|Roboto:400,900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/notredemarche-grid.css">
  <link rel="stylesheet" href="css/notredemarche.css">
</head>
<body class="body page-notredemarche clearfix">
  <img class="image image-1" src="images/share-twitter.png">
  <img class="image image-2" src="images/instagram_PNG3.png">
  <img class="image image-3" src="images/Facebook_Home_logo_old.svg.png">
  <button onClick="window.location='publicsspace.html';" class="_button-1">Accueil</button>
  <div class="element element-1"></div>
  <div class="element element-2"></div>
  <p class="text text-1">NOTRE DEMARCHE</p>
  <p class="text text-2">Vous proposer une plateforme dédiée à la mutualisation&nbsp;&nbsp;de biens et services</p>
  <div class="container container-1 clearfix">
    <input type="text">
    <button>RECHERCHE</button>
  </div>
  <button onClick="window.location='nos-engagements.html';" class="_button-3">
    <p>Nos&nbsp;</p>
    <p>engagementS</p>
  </button>
  <button onClick="window.location='notredemarche.html';" class="_button-4">
    <p>NOTRE&nbsp;</p>
    <p>DEMARCHE</p>
  </button>
  <button onClick="window.location='respectdesmarches.html';" class="_button-5">
    <p>RESPECT DU&nbsp;</p>
    <p>MARCHE PUBLICS</p>
  </button>
  <button onClick="window.location='nousvousaccompagnons.html';" class="_button-6">
    <p>NOUS VOUS&nbsp;</p>
    <p>ACCOMPAGNONS</p>
  </button>
  <img class="image image-4" src="images/14387365942_75f40fc432_b.png">
  <button onClick="window.location='contact.html';" class="_button-7">Contact</button>
  <button onClick="window.location='location.html';" class="_button-8">Location</button>
  <button onClick="window.location='services.html';" class="_button-9">Réservation</button>
  <button onClick="window.location='connection.html';" class="_button-10"></button>
  <div class="element element-3"></div>
  <div class="element element-4"></div>
  <div class="element element-5"></div>
  <div class="text text-3">
    <p>Vous proposer une plateforme dédiée à la mutualisation de biens et services entre personnes publiques, dans un schéma collaboratif horizontal, local et durable.</p>
    <p>Vous donner accès à une offre complète de services intégrant la gestion des mises à disposition, la couverture assurantielle, la mise à jour des plannings, la contractualisation et la facturation.</p>
    <p>&nbsp;Vous fournir un moyen de partage &nbsp;libre  d’accès et sans coûts fixes.</p>
    <p>Vous mettre à disposition un outil simple d’utilisation, dynamique et innovant.&nbsp;</p>
</div>
  <div class="container container-2 clearfix">
    <img class="image image-5" src="images/Fond Footer.jpg">
    <img class="image image-6" src="images/LOGO-MY-PUBLIC--SPACE-.png">
    <p class="text text-4">My public space...</p>
    <p class="text text-5">veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur anim id est laborum ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur anim id est laborumconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco&nbsp;</p>
    <div class="container clearfix">
      <div class="text text-6">
        <p>Nous&nbsp;</p>
        <p>suivre...</p>
</div>
      <p class="text text-7">veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&nbsp;</p>
      <img class="image image-7" src="images/share-twitter.png">
      <img class="image image-8" src="images/instagram_PNG3.png">
      <img class="image image-9" src="images/Facebook_Home_logo_old.svg.png">
      <p class="text text-8">Restez informé 
sur nos actualités
inscrivez vous a notre newletter</p>
    </div>
    <input placeholder="ENTRER VOTRE MAIL" type="text">
    <button>S'INCRIRE</button>
  </div>
  <p class="text text-9">En savoir plus…..</p>
  <p class="text text-10">A propos de nous...</p>
  <p class="text text-11">veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur anim id est laborum ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur anim id est laborumconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco&nbsp;</p>
  <p class="text text-12">Copyright&amp;Copy, 
VIPcrossing All Righs Reserved.</p>
</body>
</html>