<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>respectdesmarches</title>
  <link href="http://fonts.googleapis.com/css?family=Lato:400,400,700,900|Roboto:400,900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/respectdesmarches-grid.css">
  <link rel="stylesheet" href="css/respectdesmarches.css">
</head>
<body class="body page-respectdesmarches clearfix">
  <img class="image image-1" src="images/marchre pb.jpg">
  <button onClick="window.location='contact.html';" class="_button-1">Contact</button>
  <button onClick="window.location='location.html';" class="_button-2">Location</button>
  <button onClick="window.location='services.html';" class="_button-3">Réservation</button>
  <button onClick="window.location='publicsspace.html';" class="_button-4">Accueil</button>
  <img class="image image-2" src="images/share-twitter.png">
  <img class="image image-3" src="images/instagram_PNG3.png">
  <img class="image image-4" src="images/Facebook_Home_logo_old.svg.png">
  <div class="element element-1"></div>
  <button onClick="window.location='connection.html';" class="_button-5"></button>
  <p class="text text-1">RESPECT DES MARCHES PUBLICS</p>
  <p class="text text-2">Un modèle juridique et contractuel adossé au code des marchés publics </p>
  <div class="container container-1 clearfix">
    <input type="text">
    <button>RECHERCHE</button>
  </div>
  <button onClick="window.location='nos-engagements.html';" class="_button-7">
    <p>Nos&nbsp;</p>
    <p>engagementS</p>
  </button>
  <button onClick="window.location='notredemarche.html';" class="_button-8">
    <p>NOTRE&nbsp;</p>
    <p>DEMARCHE</p>
  </button>
  <button onClick="window.location='respectdesmarches.html';" class="_button-9">
    <p>RESPECT DU&nbsp;</p>
    <p>MARCHE PUBLICS</p>
  </button>
  <button onClick="window.location='nousvousaccompagnons.html';" class="_button-10">
    <p>NOUS VOUS&nbsp;</p>
    <p>ACCOMPAGNONS</p>
  </button>
  <div class="element element-2"></div>
  <div class="element element-3"></div>
  <div class="element element-4"></div>
  <div class="text text-3">
    <p>Un modèle juridique et contractuel adossé au code des marchés publics ;  des procédures simples et sécurisées juridiquement&nbsp;</p>
    <p>&nbsp; Un rôle d’accompagnement, de modération et d’alerte sur l’atteinte des seuils critiques.&nbsp;</p>
</div>
  <p class="text text-4">En savoir plus…..</p>
  <div class="container container-2 clearfix">
    <img class="image image-5" src="images/Fond Footer.jpg">
    <img class="image image-6" src="images/LOGO-MY-PUBLIC--SPACE-.png">
    <p class="text text-5">My public space...</p>
    <p class="text text-6">A propos de nous...</p>
    <p class="text text-7">veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur anim id est laborum ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur anim id est laborumconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco&nbsp;</p>
    <p class="text text-8">veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur anim id est laborum ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur anim id est laborumconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco&nbsp;</p>
    <div class="container clearfix">
      <div class="text text-9">
        <p>Nous&nbsp;</p>
        <p>suivre...</p>
</div>
      <p class="text text-10">veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&nbsp;</p>
      <img class="image image-7" src="images/share-twitter.png">
      <img class="image image-8" src="images/instagram_PNG3.png">
      <img class="image image-9" src="images/Facebook_Home_logo_old.svg.png">
      <p class="text text-11">Restez informé 
sur nos actualités
inscrivez vous a notre newletter</p>
    </div>
    <input placeholder="ENTRER VOTRE MAIL" type="text">
    <button>S'INCRIRE</button>
    <p class="text text-12">Copyright&amp;Copy, 
VIPcrossing All Righs Reserved.</p>
  </div>
</body>
</html>